@font-face {
  font-family: 'permanent_markerregular';
  src: url('./font/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
    /*url('/font/PermanentMarker-webfont.woff2') format('woff2'),*/
  url('./font/PermanentMarker-webfont.woff') format('woff'),
  url('./font/PermanentMarker-webfont.ttf') format('truetype'),
  url('./font/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.marker{
  font-family: permanent_markerregular, sans-serif;
}

@media (min-width: 576px) {
  h1 .title{}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

.banner {
  max-height: 20vh;
}

.banner-home {
  max-height: 30vh;
}